@font-face {
    font-family: 'Outfit';
    src: url("Outfit-VariableFont_wght.ttf") format('ttf');
}

*{
    margin: 0;
    box-sizing: border-box;
    outline: 0;

    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
}

@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url("Material-Icons-Outlined.woff2") format('woff2');
}

.m-i{
    user-select: none;
    font-family: 'Material Icons';font-weight:normal;font-style:normal;font-size:24px;display:inline-block;line-height:1;text-transform:none;letter-spacing:normal;word-wrap:normal;white-space:nowrap;direction:ltr;-webkit-font-smoothing:antialiased;text-rendering:optimizeLegibility;-moz-osx-font-smoothing:grayscale;font-feature-settings:'liga';
}

html, body, app{
    display: block;
    height: 100%;
    overflow: auto;
}

app{
    background: #000;
    color: #eee;
}

app.mirror{
    scale: 1 -1;
}

.left, .right{
    position: absolute;
    z-index: 10;
    width: 30%;
    height: 100%;
    top: 0;
    animation-name: smoothVisual;
    animation-duration: 1s;
}
.left.hide, .right.hide{
    animation-name: smoothVisualReverse;
    animation-duration: .5s;
}
.left{
    left: 0;
    border-radius: 0 36% 36% 0;
    background-color: #F3595922;
}
.right{
    right: 0;
    border-radius: 36% 0 0 36%;
    background-color: #59F39722;
}

@keyframes smoothVisual {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
@keyframes smoothVisualReverse {
    from{
        opacity: 1;
    }
    to{
        opacity: 0;
    }
}


.logo{
    user-select: none;
    cursor: pointer;
    display: inline;
}

.warning{
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    position: absolute;
    bottom: 100px;
    left: 50%;
    transform: translateX(-50%);
    
    max-width: 700px;
    width: 100%;
    max-height: 400px;
    height: 100%;


    background-color: #000000;
    border: 2px solid #cf0000;
    border-radius: 24px;

    animation-name: popin;
    animation-duration: .2s;
}

@keyframes popin {
    from{
        opacity: 0;
        transform: translateX(-50%)scale(0.9);
    }
    to{
        opacity: 1;
        transform: translateX(-50%);
    }
}

.warning span.m-i{
    color: #cf0000;
    font-size: 64px;
}

.warning p{
    display: inline;
    font-size: 32px;
}

.border{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 10px dashed #fce93c;
}

.call{
    padding: 24px 64px;
    position: absolute;
    bottom: 100px;
    left: 50%;
    transform: translateX(-50%);
    
    max-width: 700px;
    width: 100%;
    max-height: 400px;
    height: 100%;

    /* background-color: #000000;
    border: 2px solid #cf0000; */
    border: 2px solid #59F397;
    box-shadow: 0 0 12px #59F397;
    border-radius: 24px;

    animation: 
        pendingcall 2s infinite cubic-bezier(0.075, 0.82, 0.165, 1),
        popin .2s;
}
/* .call{
    background-color: #fff;
    color: #000;
} */

@keyframes pendingcall {
    0%{
        box-shadow: 0 0 4px #59F397;
    }
    50%{
        box-shadow: 0 0 12px #59F397;
    }
    100%{
        box-shadow: 0 0 4px #59F397;
    }
}

.call .headerText{
    font-size: 24px;
}

.call .info{
    width: 100%;
    height: 50%;
    /* padding: 48px; */
    display: flex;
    align-items: center;

    font-size: 36px;
}
.call .info .picture.icon{
    font-size: 48px;
}
.call .info .picture:not(.icon){
    width: 64px;
    height: 64px;
    padding: 8px;
    border-radius: 50%;
}

.call .actions .btn{
    display: inline-block;
    text-align: center;
    font-size: 28px;
}
.call .actions .btn .m-i{
    font-size: 64px;
}
.call .actions .btn:first-child{
    color: #F35959;
}
.call .actions .btn:last-child{
    color: #59F397;
    float: right;
}
.call .actions .btn:last-child .m-i{
    transform: scaleX(-1);
}

.call .actions .btn.accepted .m-i,
.call .actions .btn.accepted .text{
    transform: translateY(-15px);
    opacity: 0;
    transition: .2s;
}

.call.accepted{
    animation: initial;
    border: 2px solid #eee;
    opacity: .3;
    transition: .5s;
}

.call.declined, .call.hangup{
    opacity: 0;
    transform: translateX(-70%);
    border: 2px solid #F35959;
    transition: .5s;
}